@font-face {
    font-family: NeutralFace;
    src: url("./assets/fonts/NeutralFace.otf") format("opentype");
}

@font-face {
    font-family: NeutralFaceBold;
    font-weight: bold;
    src: url("./assets/fonts/NeutralFace-Bold.otf") format("opentype");
}

* {
    font-family: NeutralFace;
    background-color: antiquewhite;
}
body {
    margin: 0;

    display: block;
}

hero video {
    z-index: -1;
}
nav {
    width: 100%;
    margin-bottom: 5rem;
    display: block;
}
nav ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
}
nav ul li {
    list-style: none;
    padding: 10px 12px;
    text-transform: uppercase;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
a {
    color: black;
    text-decoration: none;
}
a:active {
    color: black;
}
header img {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    width: 100%;
    max-width: 700px
}
.landing-vid {
    width: fit-content;
    display: block;
    margin: auto;
}
footer {
    margin: 2rem 2rem 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
footer img {
    width: 60px;
}

